<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="gini">
            <directory suffix=".php">./tests</directory>
            <exclude>gini.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <file>./class/gini/core.php</file>
            <file>./class/gini/config.php</file>
            <directory>./vendor</directory>
            <directory>.composer</directory>
        </blacklist>
    </filter>
</phpunit>