<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="gini">
            <directory suffix=".php">./tests</directory>
            <exclude>gini.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
          <directory suffix=".php">class</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="reports/unit.xml"/>
        <log type="coverage-clover" target="reports/coverage.xml"/>
    </logging>
</phpunit>
