div.pagination {
	padding:5px;
	background-color:#693;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #fff;
	background-color:#fff;
	font-weight:bold;
	text-decoration: none; 
	color: #88AF3F;
	border-radius:5px;
	box-shadow:#333 0 1px 2px;
}

div.pagination a:hover, div.pagination a:active {
	border:1px solid #F1FFD6;
	color: #638425;
	background-color: #F1FFD6;
}

div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #B2E05D;
	font-weight: bold;
	background-color: #B2E05D;
	color: #FFF;
	border-radius:5px;
	box-shadow:#333 0 1px 2px;
}

div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	background-color: #7a4;
	border: 1px solid #7a4;
	color: #9c6;
	border-radius:5px;
}
